<h1 class="mt-2 text-5xl font-extrabold text-center md:text-6xl">
  Welcome to <span class="text-gradient">Astro</span>
</h1>


<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  .text-gradient {
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {

    0%,
    100% {
      background-position-y: 0%;
    }

    50% {
      background-position-y: 80%;
    }
  }

  /* https://stackoverflow.com/questions/71506663/how-to-animate-text-gradient-color-change-in-tailwind */
</style>